<!doctype html>
<html>
<head>
 <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Javascript Collection</title>
	<!--<link rel="shortcut icon" href="http://example.com/myicon.ico" />-->
	<link rel="icon" type="image/png" href="../images/js-flat.png" />
</head>
<body class"body">
  <div id="app">  
   <nav class="navbar" role="navigation" aria-label="main navigation">
     <div class="navbar-brand">
      <a class="navbar-item" href="/">
       <img src="../images/js-flat.png" alt="Bulma: a modern CSS framework based on Flexbox" ><strong> Examples</strong>
        </a>   
       </div>
      </nav>
      <div class="container"></div>
     </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
   <link rel="stylesheet" href="css/home.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script async defer src="js/exercise.js"></script>
</body>
</html>